# Node.js specific
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build output
dist/
build/
out/

# Environment variables file
.env

# Editor / IDE specific
.vscode/
.idea/
*.swp
*.swo

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Log files
*.log

# Compiled output of TypeScript files
*.js

# Dependency directories
jspm_packages/
bower_components/

# Coverage directory for code coverage reports
coverage/

# Cypress end-to-end test output
cypress/videos/
cypress/screenshots/

# Webpack specific
/.webpack

# Parcel specific
.cache/
.parcel-cache/

# Next.js specific
.next/

# Nuxt.js specific
.nuxt/
